* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  color: #000;
  line-height: 1.6;
  padding-top: 70px; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  z-index: 100;
}

.logo {
  height: 50px;
  width: auto;
  border-radius: 10%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
}

.navLink{
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 100px;
    transition: color 0.5s;
}

.currentOn{
    color: rgb(73 80 87);
    text-decoration: none;



.dropdown-icon {
  width: 50px;
  height: 50px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; 
  background-color: rgba(173, 181, 189, 0.95);
  list-style: none;
  padding: 10px 0;
  border-radius: 8px;
  min-width: 180px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
  background-color: #495057;
}

/* afficher au survol */
.dropdown:hover .dropdown-menu {
  display: block;
}

